<div class="row">
    <div class="loading-indicator" *ngIf="(_loader.isLoading | async)">
        <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
    </div>
    <div class="col-md-6 mb-4" *ngFor="let c of products">
        <div class="card shadow-sm" (click)="open(manage, c)">
            <!--<img [src]="c.coverImage" class="card-img-top cover-image" alt="Category" />-->
            <div class="row">
                <div class="col-5">
                    <ngb-carousel>
                        <ng-template ngbSlide *ngFor="let im of c.images">
                            <div class="picsum-img-wrapper">
                                <img [src]="im" class="cover-image" alt="Random first slide" />
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
                <div class="col-7">
                    <div class="card-body">
                        <h6 class="card-title mt-1"><strong>{{c.name}}</strong></h6>
                        <!--<p class="card-text">{{c.description | slice : 0 : 50}}</p>-->
                        <p class="card-text"><strong>Brand: </strong>{{c.brand}}</p>
                        <!-- <p class="card-text d-flex align-items-center"> -->
                        <p class="card-text">
                            <strong>Price: </strong>
                            <span class="price">{{ c.price }} INR </span>
                            <span *ngIf="c.discountPercent" class="discount ml-3">- {{ c.discountPercent }}%</span>

                        </p>
                        <p class="card-text"><strong>Quantity: </strong>{{c.quantity}}</p>
                        <!--<p class="card-text"><strong>Price: </strong>{{c.price}}</p>-->
                        <p class="card-text"><strong>About: </strong>{{c.description | slice : 0 : 250}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #manage let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"><strong>Brand: </strong>{{pickedItem?.brand}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p class="mt-2"><strong>Name: </strong>{{pickedItem?.name}}</p>
        <p class="mt-2"><strong>Price: </strong>{{pickedItem?.price}}</p>
        <p class="mt-2"><strong>Discount: </strong>{{pickedItem?.discountPercent}}</p>
        <p class="mt-2"><strong>Quantity: </strong>{{pickedItem?.quantity}}</p>
        <p class="mt-2"><strong>About: </strong>{{pickedItem?.description}}</p>
    </div>
    <div class="modal-footer d-flex justify-content-around align-items-center">
        <h6>Total Sales: 50000$</h6>
        <div>
            <button type="button" class="btn btn-primary btn-sm">Edit</button>
            <button type="button" class="btn btn-warning btn-sm ms-2">Manage Stock</button>
            <button type="button" class="btn btn-secondary btn-sm ms-2">View Sales</button>
        </div>
    </div>
</ng-template>