<div class="container">
    <!-- Search Bar -->
    <div class="row justify-content-center mb-4">
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Search products..." [(ngModel)]="searchQuery"
                (ngModelChange)="filterProducts()" />
        </div>
    </div>

    <!-- Loader -->
    <div class="loading-indicator" *ngIf="(_loader.isLoading | async)">
        <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
    </div>
    <div class="row">
        <div class="loading-indicator" *ngIf="(_loader.isLoading | async)">
            <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
        </div>
        <div class="col-md-6 mb-4" *ngFor="let c of products">
            <div class="card shadow-sm">
                <!--<img [src]="c.coverImage" class="card-img-top cover-image" alt="Category" />-->
                <div class="row">
                    <div class="col-5">
                        <ngb-carousel>
                            <ng-template ngbSlide *ngFor="let im of c.images">
                                <div class="picsum-img-wrapper">
                                    <img [src]="im" class="cover-image" alt="Random first slide" />
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                    <div class="col-7" (click)="open(manage, c)">
                        <div class="card-body">
                            <h6 class="card-title mt-1"><strong>{{c.name}}</strong></h6>
                            <!--<p class="card-text">{{c.description | slice : 0 : 50}}</p>-->
                            <p class="card-text"><strong>Brand: </strong>{{c.brand}}</p>
                            <!-- <p class="card-text d-flex align-items-center"> -->
                            <p class="card-text">
                                <strong>Price: </strong>
                                <span class="price">{{ c.price }} INR </span>
                                <span *ngIf="c.discountPercent" class="discount ml-3 text-danger"><strong>- {{
                                        c.discountPercent }}%</strong></span>
                            </p>
                            <p class="card-text"><strong>Quantity: </strong>{{c.quantity}}</p>
                            <!--<p class="card-text"><strong>Price: </strong>{{c.price}}</p>-->
                            <p class="card-text"><strong>About: </strong>{{c.description | slice : 0 : 250}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #manage let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title"><strong>Brand: </strong>{{pickedItem?.brand}}</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <p class="mt-2"><strong>Name: </strong>{{pickedItem?.name}}</p>
            <div class="row">
                <div class="col-6">
                    <p class="mt-2"><strong>Price: </strong>{{pickedItem?.price}} INR</p>
                </div>
                <div class="col-6">
                    <p class="mt-2"><strong>Discount: </strong>{{pickedItem?.discountPercent}} %</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p class="mt-2"><strong>Quantity: </strong>{{pickedItem?.quantity}}</p>
                </div>
                <div class="col-6">
                    <p class="mt-2"><strong>In Stock: </strong>{{pickedItem?.quantity}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p class="mt-2"><strong>Total Sold: </strong>{{pickedItem?.quantity}}</p>
                </div>
                <div class="col-6">
                    <p class="mt-2"><strong>Active: </strong>{{pickedItem?.active ? 'YES' : 'NO'}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p class="mt-2"><strong>Created: </strong>{{pickedItem?.addedDate | date:"dd/MM/yyyy"}}</p>
                </div>
                <div class="col-6" *ngIf="pickedItem?.updateDate">
                    <p class="mt-2"><strong>Last Modified: </strong>{{pickedItem!.updateDate | date:"dd/MM/yyyy"}}</p>
                </div>
            </div>
            <p class="mt-2"><strong>About: </strong>{{pickedItem?.description}}</p>
        </div>
        <div class="modal-footer d-flex justify-content-around align-items-center">
            <div>
                <button type="button" class="btn btn-primary btn-sm" (click)="open(update, pickedItem!)">Update</button>
                <button type="button" class="btn btn-warning btn-sm ms-2">Manage Stock</button>
                <button type="button" class="btn btn-secondary btn-sm ms-2">View Sales</button>
            </div>
        </div>
    </ng-template>

    <ng-template #update let-modal>
        <div class="modal-header">
            <h5 class="modal-title" id="modal-basic-title">Update | {{pickedItem!.name}}</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <form id="categoryForm">
            <div class="modal-body">
                <div class="row mt-2">
                    <div class="col-6">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter new item name"
                            [(ngModel)]="toUpdateItem.name" name="name">
                    </div>
                    <div class="col-6">
                        <label for="brand" class="form-label">Brand</label>
                        <input type="text" class="form-control" id="brand" placeholder="Enter brand name"
                            [(ngModel)]="toUpdateItem.brand" name="brand">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-6">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" class="form-control" id="price" placeholder="Enter updated price"
                            [(ngModel)]="toUpdateItem.price" name="price">
                    </div>
                    <div class="col-6">
                        <label for="discount" class="form-label">Discount</label>
                        <input type="text" class="form-control" id="discount" placeholder="Enter discount percentage"
                            [(ngModel)]="toUpdateItem.discountPercent" name="discount">
                    </div>
                </div>
                <mat-progress-bar mode="indeterminate" *ngIf="(_loader.isLoading | async)"></mat-progress-bar>
                <div class="row">
                    <div class="col-6 mt-2">
                        <label for="quantity" class="form-label">Quantity</label>
                        <input type="text" class="form-control" id="quantity" placeholder="Enter quantity"
                            [(ngModel)]="toUpdateItem.quantity" name="quantity">
                    </div>

                    <div class="col-6 form-group  mt-3">
                        <label for="category">Disable<span class="text-danger">*</span></label>
                        <select class="form-control" id="activeOrNot" name="activeOrNot" required>
                            <option value="YES">YES</option>
                            <option value="NO">NO</option>
                        </select>
                    </div>
                </div>
                <!-- Preview Image -->
                <div *ngIf="images!.length > 0" class="text-center mt-2">
                    <h5>Selected Images:</h5>
                    <div class="d-flex flex-wrap">
                        <div class="mr-3 mb-3" *ngFor="let img of images">
                            <img [src]="img.previewImage" alt="Image Preview" width="100" height="100"
                                class="img-thumbnail" />
                        </div>
                    </div>
                </div>
                <div class="row form-group mt-2">
                    <label for="images">Select Images</label>
                    <input type="file" id="images" name="images" class="form-control" placeholder="Choose images"
                        (change)="onImageChange($event)" multiple />
                </div>

                <div class="form-check mt-3">
                    <input type="checkbox" class="form-check-input" id="deleteImage"
                        [checked]="toUpdateItem.deleteOldImages"
                        (change)="toUpdateItem.deleteOldImages = !toUpdateItem.deleteOldImages">
                    <label class="form-check-label" for="deleteImage">
                        Delete previous image
                    </label>
                </div>

                <div class="form-check mt-3">
                    <input type="checkbox" class="form-check-input" id="deleteImage" [checked]="toUpdateItem.active"
                        (change)="toUpdateItem.active = !toUpdateItem.active">
                    <label class="form-check-label" for="deleteImage">
                        Active
                    </label>
                </div>

                <div class="row mt-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" rows="4" placeholder="Enter new description"
                        [(ngModel)]="toUpdateItem.description" name="description" required></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary"
                    (click)="modal.dismiss('cancel click')">Cancel</button>
                <button type="button" class="btn btn-warning" (click)="updateProduct(pickedItem!.itemId)">Save</button>
                <button type="reset" class="btn btn-secondary ms-2">Reset</button>
            </div>
        </form>
    </ng-template>
