.cover-image {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

/* .card {
    height: 400px;

} */
.loading-indicator {
    position: relative;
    margin-top: 30%;
}

.card:hover {
    background: #e2e2e2;
}