<div class="container mt-5">
    <div class="card shadow-sm border">
        <div class="card-header bg-primary text-white">
            <h3 class="text-center"><i-tabler class="custom-icon-size" name="square-rounded-plus"></i-tabler><span
                    class="ms-2 pt-1">Add Product</span></h3>
        </div>
        <div class="card-body">
            <form #productForm="ngForm" (ngSubmit)="onSubmit($event, productForm)">
                <div class="row mt-3">
                    <div class="col-md-6">
                        <!-- Product Name -->
                        <div class="form-group">
                            <label for="name">Product Name<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="name" placeholder="Enter product name" required
                                [(ngModel)]="product.name" name="name" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <!-- Brand -->
                        <div class="form-group">
                            <label for="brand">Brand<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="brand" placeholder="Enter product brand"
                                required [(ngModel)]="product.brand" name="brand" />
                        </div>
                    </div>
                </div>

                <div class="form-group mt-3">
                    <!-- Description -->
                    <label for="description">Description<span class="text-danger">*</span></label>
                    <textarea class="form-control" id="description" rows="3" placeholder="Enter product description"
                        required [(ngModel)]="product.description" name="description"></textarea>
                </div>

                <mat-progress-bar mode="indeterminate" *ngIf="(_loader.isLoading | async)"></mat-progress-bar>

                <div class="row mt-3">
                    <div class="col-md-6">
                        <!-- Discount Percent -->
                        <div class="form-group">
                            <label for="discountPercent">Discount (%)</label>
                            <input type="number" class="form-control" id="discountPercent"
                                placeholder="Enter discount percent" [(ngModel)]="product.discountPercent"
                                name="discountPercent" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <!-- Price -->
                        <div class="form-group">
                            <label for="price">Price<span class="text-danger">*</span></label>
                            <input type="number" class="form-control" id="price" placeholder="Enter product price"
                                required [(ngModel)]="product.price" name="price" />
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-6">
                        <!-- Quantity -->
                        <div class="form-group">
                            <label for="quantity">Quantity<span class="text-danger">*</span></label>
                            <input type="number" class="form-control" id="quantity" placeholder="Enter product quantity"
                                required [(ngModel)]="product.quantity" name="quantity" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <!-- Image URL -->
                        <!--<div class="form-group">
                            <label for="imageUrl">Image URL</label>
                            <input type="url" class="form-control" id="imageUrl" placeholder="Enter image URL"
                                [(ngModel)]="product.imageUrl" name="imageUrl" />
                        </div>-->

                        <!-- Pick Images -->
                        <div class="form-group">
                            <label for="images">Select Images</label>
                            <input type="file" id="images" name="images" class="form-control"
                                (change)="onImageChange($event)" multiple />
                        </div>
                    </div>
                </div>

                <!-- Preview Image -->
                <div *ngIf="images!.length > 0" class="text-center mt-2">
                    <h5>Selected Images:</h5>
                    <div class="d-flex flex-wrap">
                        <div class="mr-3 mb-3" *ngFor="let img of images">
                            <img [src]="img.previewImage" alt="Image Preview" width="100" height="100"
                                class="img-thumbnail" />
                        </div>
                    </div>
                </div>

                <div class="row mt-3 form-group">
                    <!-- Category Select Dropdown -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="category">Category<span class="text-danger">*</span></label>
                            <select class="form-control" id="category" [(ngModel)]="product.category" name="category"
                                required>
                                <option *ngIf="pickedCat; else other_opt" [value]="pickedCat.id">{{pickedCat.name}}
                                </option>
                                <ng-template #other_opt>
                                    <option value="NA">NA</option>
                                    <option *ngFor="let category of categories" [value]="category.id">
                                        {{ category.name }}
                                    </option>
                                </ng-template>
                            </select>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check mt-4">
                            <input type="checkbox" class="form-check-input" id="deleteImage" [checked]="product.active"
                                (change)="product.active = !product.active">
                            <label class="form-check-label" for="deleteImage">
                                Mark Active
                            </label>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center mt-3">
                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-success btn-block"
                        [disabled]="!productForm.valid || (_loader.isLoading | async)">
                        Add Product
                    </button>
                    <button type="reset" class="btn btn-primary btn-block ms-2"
                        [disabled]="(_loader.isLoading | async)">
                        Reset
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>