<div class="container mt-5">
    <div class="container text-center">
        <h3 class="text-center mb-4"><i-tabler class="custom-icon-size" name="square-rounded-plus"></i-tabler>
            <span class="ms-2 pt-1">New Category</span>
        </h3>
    </div>
    <div class="card shadow-sm border">
        <div class="card-body">
            <form #addCategoryForm="ngForm" id="newCategoryForm" (ngSubmit)="onFormSubmit($event, addCategoryForm)">
                <div class="mb-3">
                    <label for="categoryTitle" class="form-label">Category Title<span
                            class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="categoryTitle" placeholder="Enter category title"
                        [(ngModel)]="category.title" name="title" required>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description<span class="text-danger">*</span></label>
                    <textarea class="form-control" id="description" rows="4" placeholder="Enter category description"
                        [(ngModel)]="category.description" name="description" required></textarea>
                </div>

                <!-- Preview Image -->
                <div *ngIf="images!.length > 0">
                    <h5>Selected Images:</h5>
                    <div class="d-flex flex-wrap">
                        <div class="mr-3 mb-3" *ngFor="let img of images">
                            <img [src]="img.previewImage" alt="Image Preview" width="100" height="100" class="img-thumbnail" />
                        </div>
                    </div>
                </div>
                <!-- Pick Images -->
                <div class="form-group">
                    <label for="images">Select Images</label>
                    <input type="file" id="images" name="images" class="form-control" (change)="onImageChange($event)"
                        multiple />
                </div>

                <mat-progress-bar mode="indeterminate" *ngIf="(_loader.isLoading | async)"></mat-progress-bar>
                <div class="container text-center mt-5">
                    <button type="submit" [disabled]="(_loader.isLoading | async)"
                        class="btn btn-primary">Submit</button>
                    <button type="reset" [disabled]="(_loader.isLoading | async)"
                        class="btn btn-secondary ms-2">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>